@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/muli/Muli-SemiBold.ttf"); }
@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/muli/Muli-Bold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Muli-Regular";
  color: #666;
  font-size: 13px;
  margin: 0; }

  html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

div#container {
    margin: 0 auto;
    max-width: 960px;
	padding:10px;
}

.left{
  width: 50%;
  float: left;
}
.left img{
  max-width: 100%;
}
.right{
  float:right;
}
#main-content{
  clear: both;
  padding: 10px 0px;
}

input, textarea, select, button {
  font-family: "Muli-Regular";
  color: #333;
  font-size: 13px; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding:15px 0px;
}

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }

.inner {
  min-width: 850px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 48px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }


.form-group {
  display: flex; }
  .form-group .form-wrapper {
    width: 50%; }
    .form-group .form-wrapper:first-child {
      margin-right: 20px; }

.form-wrapper {
  margin-bottom: 17px; }
  .form-wrapper label {
    margin-bottom: 9px;
    display: block; }

.form-control {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none; }
  .form-control:focus {
    border: 1px solid #ae3c33; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px; }
  select option[value=""][disabled] {
    display: none; }

button {
  border: none;
  width: 250px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ae3c33;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f11a09;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.checkbox {
  position: relative; }
  .checkbox label {
    padding-left: 22px;
    cursor: pointer; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox input:checked ~ .checkmark:after {
    display: block; }

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder; }
  .checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    content: '\f26b'; }

@media (max-width: 991px) {
  .inner {
    min-width: 768px; } }
@media (max-width: 767px) {
  .inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0; }

  form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; } }

/*# sourceMappingURL=style.css.map */


/* Sorting ul li */
/* ul#baocao strong {
  text-transform: capitalize;
}
ul#baocao li {
  list-style-type: none;
}

ul#baocao {
  border: 1px solid lightgrey;
  padding: 14px 16px;
} */


/* style header thông tin sinh viên */
.ten_mssv_sv {
  border: 1px solid lightblue;
  margin: 10px auto;
  padding: 14px 16px;
  border-left: 4px solid lightblue;
  box-shadow: 4.3px 4.3px 1px lightblue;
}
label.lb_ttsv {
  padding-right: 16px;
}
.ten_mssv_sv span:first-of-type::before {
  content: 'Họ và tên: ';
}
span.ttsv b {
  /* padding-left: 0; */
  color: darkred;
}


.ten_mssv_sv span:nth-of-type(2)::before {
  content: 'Mã số sinh viên: ';
}


/* Custom manager report view flowing: thuctapgv/view */


  #baocao .sort .view-report {
    margin: 18px 0 18px;
    border: 1px dotted lightgray;
    padding: 14px 16px;
    width: 97.69%;
  }
  #baocao .sort .box-header-report>strong {
    float: left;
    padding: 8px 16px;
    background-color: #C7E5FC;
    border-radius: 3px;
    color: darkcyan;
    width: 86px;
  }

  .box-noti button.btn-view-ct {
    background-color: #C7E5FC;
    color: darkcyan;
    border-radius: 3px;
    /* position: fixed; */
    margin: 0 0 0 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 13px;
    overflow: hidden;
    transform: none;
    position: relative;
    height: 34px;
    text-transform: inherit;
    z-index: 1;
  }
  .box-noti button.btn-view-ct:before{
    /*   transform:none; */
    background-color:lightblue;
  }
  /* response */

  .box-noti button.btn-view-ct:hover{
    color:green;
    }

    .box-noti{
      position:relative;
      /* width: 260px; */
      float: left;
    }
    span.new-notif {
      z-index: 10;
      position: absolute;
      top: -10px;
      right: -18px;
      padding: 5px 7px;
      border-radius: 50%;
      background: #64D97A;
      color: white;
      font-size: 12px;

    }


    /* update add time into report view */
    .time-baocao{
      float: left;
      padding: 8px 16px;
      background-color: #C7E5FC;
      border-radius: 3px;
      color: darkcyan;
      width: 57%;
      margin-left: 10px;
      height: 34px;
    }

    .modal-content{
      min-width: 768px;
    }


    @media (max-width: 768px) {
      .time-baocao{
        width: 47%;
      }
      #baocao .sort .view-report {
        width: 95%;
      }
    }
    @media screen and (min-width: 769px) {

    .modal-dialog {
        width: 887px;
        margin: 60px auto;
    }

      .time-baocao{
        width: 57%;
      }
      #baocao .sort .view-report {
        width: 95%;
      }
    }
    @media screen and (min-width: 992px) {
      .time-baocao{
        width: 57%;
      }
      #baocao .sort .view-report {
        width: 97.69%;
      }

    }
    #baocao {
      border: 1px solid lightgrey;
      padding: 10px 0 10px 13px;
  }

/* Import Box Alert success and Error */


.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;

}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    font-size: 15px;

}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    font-size: 15px;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

/* Pop up profile 5 */

.btn {
  padding: 4px 14px;
  display: inline-block;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
  border-radius: 3px;
  background: rgb(211, 238, 241);
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: indianred;
}

.btn:hover {
  opacity: 0.55;
  color: lightcoral;
}

.popup-wrap {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  background: rgba(0, 0, 0, 0.55);
  z-index: 100;
}

.popup-box {
  z-index: 100;
  height: 65%;
  width: 40%;
  padding: 30px;
  transform: translate(-50%, -50%) scale(0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background: #fff;
  overflow: auto;
}

.popup-box .close-btn {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 1000px;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  line-height: 190%;
  font-size: 16px;
  text-align: center;
}

.popup-box .close-btn:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.transform-in,
.transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.transform-out {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}

/* Update profile_gv */
#update_form_gv{
  padding: 0;
}
#profile_gv {
    float: left;
    margin: 20px 0 20px 11px;
}

.slide-right {
    float: left;
    /* width: 220px; */
}
marquee.marquee-slide-right {
    float: right;
    width: 400px;
    margin-left: 20px;
    padding: 7px 8px;
    font-size: 20px;
    color: indianred;
}

/* Cusstom button update */


/* Update submit form and show password */
span.flit-left {
    float: left;
    margin-top: 8px;
    margin-left: 2px;
    position: absolute;
}
img#loading_update{
    width: 44px;
    position:relative;
    float: right;
    right: 10px;
    visibility: hidden;
}

input.form-control.flit-right {
    float: right;
    width: 50%;
}
input.form-control.flit-right:hover
{
  box-shadow: 0px 2px 2px lightcoral;
    color: lightcoral;
    background-color: lightgoldenrodyellow;
}
#re{
  clear: both;
}

/* Custom error page */
.go_to_home {
    margin: 0 auto;
    width: 112px;
    height: 50px;
    margin-top: 30px;
}
.go_to_home a {
    margin: 0 auto;
    width: 150px;
    background-color: orange;
    color: white;
    padding: 14px 16px;
    font-weight: bold;
    text-align: center;
}
h2.h2_error {
    width: 349px;
    position: relative;
    margin: 0 auto;
    margin-top: -80px;
    background-color: white;
    text-align: center;
    font-size: 22px;
}
h1.h1_error{
  font-size: 150px;
  text-align: center;

}
@media screen and (min-width: 310px){
  .popup-box {
    height: 83%;
    width: 97px;
  }

}

@media screen and (min-width: 480px){
  .popup-box {
    height: 68%;
    width: 400px;
  }
  .box-user-thongbao >a {
    margin-left: 120px;
  }
}



@media screen and (min-width: 960px){
  .popup-box {
    height: 59%;
    width: 80%;
  }
  .box-user-thongbao >a {
    margin-left: 0;
  }
}

@media screen and (min-width: 1025px){
  .popup-box {
    height: 65%;
    width: 800px;
  }
  .box-user-thongbao >a {
    margin-left: 0;
  }
}




/* CHAM DIEM CSS */

div.gvChamDiem {
    padding: 14px 14px;
    margin-top: 10px;
    min-height: 60px;
}


div#btnPoint {
    user-select: none;
    -moz-user-select: none;
    font-weight: bold;
    color: lightcoral;
    margin-left: 20px;
    float: left;
    border: 2px solid lightcoral;
    padding: 4px 30px;
    border-radius: 20px;
    margin-top: 13px;
	-webkit-transition: background-color 1s;
    transition: background-color 1s;
}

    div#btnPoint:hover {background-color: antiquewhite;
      cursor: pointer;

    }
    #btn_deactive {
        user-select: none;
        -moz-user-select: none;
        font-weight: bold;
        color: #008000b0;
        margin-left: 20px;
        float: left;
        padding: 6px 38px;
        border-radius: 20px;
        margin-top: 13px;
        background-color: #CEF6CE;
    }
    #btn_deactive:hover{
      cursor: not-allowed;
    }
div#showData_Point {
    float: left;
}

input#inputPoint {
    border: none;
    border-bottom: 2px solid lightcoral;
    width: 130px;
    padding: 5px 0;
    text-align: center;
    color: lightcoral;
    font-weight: bold;
    font-size: 22px;
    min-width: 130px;
}

input#inputPoint::-webkit-input-placeholder {
    color: indianred;
    opacity: 0.8;
    font-size: 13.5px;

}

input#inputPoint:hover {
    opacity: 0.5;
}

.div_center {
    margin: 0 auto;
    width: 400px;
    min-width: 400px;
}

    .area_point{
        margin: 0 auto;
        width: 290px;
        min-width: 290px;
        min-height: 40px;
        position:relative;

    }
.showData_Note{
    text-align:center;
    width:auto;
    float:both;
    padding: 14px 16px;
    font-size:14px;
    color: green;
}

img#image_sucess, img#image_loading {
    position: absolute;
    width: 30px;
    top: 12px;
    right: -35px;
    visibility: hidden;
}
